In [ ]:
##1
numbers=[1,2,3,4,5]
for i in numbers:
  print(i)

1
2
3
4
5

In [ ]:
##2
n=[11,22,33,44,55,66,66,77]
sum=0
for i in n:
  sum+=i
print("the sum of all the numbers is:",sum)

the sum of all the numbers is: 374

In [ ]:
##3
n=[11,22,33,44,55,66,77,88,888]
maxn=n[0]
for i in n:
  if i>maxn:
    maxn = i
print("max of list is:",maxn)

max of list is: 888

In [ ]:
##4
nt=("red",1,"blue",2,5,6,"end")
for i in nt:
  print(i)

red
1
blue
2
5
6
end

In [ ]:
##5
text=("my","name","is","ranjan")
result=""

for i in text:
  result +=i+" "
print("the concatenate tuple is:",result)

the concatenate tuple is: my name is ranjan

In [ ]:
##6
n=(1,2,3,4,5,6,7,8,9)
reverse_list = []
for i in range(len(n)-1,-1,-1):
  reverse_list.append(n[i])
reverse_tuple = tuple(reverse_list)
print("reverse tuple is:",reverse_tuple)

reverse tuple is: (9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
##7
students = {"ranjan":88,"pooja":77,"sahoo":66,"mini":99}
for i,j in students.items():
  print(f"{i} scored {j} marks")

ranjan scored 88 marks
pooja scored 77 marks
sahoo scored 66 marks
mini scored 99 marks

In [ ]:
##7
students = {"ranjan":88,"pooja":77,"sahoo":66,"mini":99}
for i in students:
  print(f"{i} scored {students[i]} marks")

ranjan scored 88 marks
pooja scored 77 marks
sahoo scored 66 marks
mini scored 99 marks

In [ ]:
##8
students = {"ranjan":88,"pooja":77,"sahoo":66,"mini":99}
sum=0
for i in students.values():
  sum+=i
print("sum of all numbers:",sum)

sum of all numbers: 330

In [ ]:
##8
students = {"ranjan":88,"pooja":77,"sahoo":66,"mini":99}
sum=0
for i in students:
  sum+=students[i]
print("total is :",sum)

total is : 330

In [ ]:
##9
students = {"ranjan":88,"pooja":77,"sahoo":66,"mini":99}
max_score=0
for i in students:
  if students[i]>max_score:
    max_score=students[i]
print("max score is ",max_score)

max score is  99

In [1]:
##9
students = {"ranjan":88,"pooja":97,"sahoo":66,"mini":87}
max_score=0
for i in students.values():
  if i>max_score:
    max_score=i
print("max score is:",max_score)

max score is: 97

In [5]:
##10
students=[("A",45),("B",55),("C",49),("D",99),("E",44),("F",99)]

result = {
    "pass":[],
    "fail":[]
}

for name,score in students:
  if score>=50:
    result["pass"].append(name)
  else:
    result["fail"].append(name)
print("result",result)

result {'pass': ['B', 'D', 'F'], 'fail': ['A', 'C', 'E']}

In [6]:
##11
my_list=[1,2,3,4,5,6,7,8,9]
my_tuple=(4,5,6,7)
common_element=[]
for i in my_list:
  if i in my_tuple:
    common_element.append(i)
print("common elements are:",common_element)

common elements are: [4, 5, 6, 7]