In [98]:
##1
n=5
for i in range(n):
  for j in range(i+1):
    print(j+1,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [99]:
##2
n=5
for i in range(n):
  for j in range(i,n):
    print('*',end=' ')
  print()

* * * * *
* * * *
* * *
* *
*

In [116]:
##3
n=5
for i in range(n):
  for j in range(n-i):
    print(j+1,end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [120]:
##4
n=5
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [125]:
##5
text=input("enter the text to be printed:")
text=text.upper()
n=len(text)
for i in range(n):
  for j in range(i+1):
    print(text[j],end=' ')
  print()

enter the text to be printed:abcdefg
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [127]:
##6
n=5
for i in range(n):
  for j in range(n):
    if i==0 or i==n-1 or j==0 or j==n-1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [135]:
##7
n=7
for i in range(n):
  for j in range(n):
    if i==j or i+j==n-1:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [141]:
##8
n=int(input("enter the number:"))
for i in range(n):
  for s in range(n-i-1):
    print(' ',end=' ')
  num =1
  for j in range(i+1):
    print(num,end='  ')
    num=num*(i-j)//(j+1)
  print()

enter the number:5
        1
      1  1
    1  2  1
  1  3  3  1
1  4  6  4  1

In [157]:
##9
text="abcde"
text=text.upper()
n=len(text)
for i in range(n):
  for s in range(n-i-1):
    print(' ',end='')
  for j in range(i+1):
    print(text[j],end=' ')
  print()

for i in range(n-2,-1,-1):
  for s in range(n-i-1):
    print(' ',end='')
  for j in range(i+1):
    print(text[j],end=' ')
  print()

    A
   A B
  A B C
 A B C D
A B C D E
 A B C D
  A B C
   A B
    A

In [161]:
##10
n = 5
for i in range(n - 1):
    for s in range(n - i - 1):
        print(' ', end='')
    print('*', end='')
    if i > 0:
        for space in range(2 * i - 1):
            print(' ', end='')
        print('*')
    else:
        print()


print('*' * (2 * n - 1))


for i in range(n - 2, -1, -1):
    for s in range(n - i - 1):
        print(' ', end='')
    print('*', end='')
    if i > 0:
        for space in range(2 * i - 1):
            print(' ', end='')
        print('*')
    else:
        print()

    *
   * *
  *   *
 *     *
*********
 *     *
  *   *
   * *
    *